.contenedorTareas{
    width: 90%;
    height: 400px;
    background-color: aquamarine;
    margin: 0 auto;
    padding: 0 auto;
    border-radius: 20px;
    position: absolute;
    top: 10%;
    left: 5%;
    border: 2px solid black ;
}

.contador{
    width: 90px;
    height: 90px;
    background-color: yellow;
    border-radius: 50%;
    position: relative;
    left: 85%;
    bottom: 10%;
    text-align: center;
    padding-top: 10px;
    border: 2px solid black;
    font-family: 'Franklin Gothic Medium';
    font-weight: bolder;
    font-size: 40px;
    color: limegreen;
    
}
.tituloToDo{
    width: 100%;
    border-radius: 10px;
    background-color: lightcoral;
    text-align: center;
}
.tituloRealizadas{
    position: relative;
    left: 82%;
    bottom: 8%;
}
.btnEliminar{
    background-color: red;
    position: relative;
    left: 58%;
    border-radius: 30%;
    color: white;
}
.btnEditar{
    background-color: green;
    position: relative;
    left: 60%;
    border-radius: 30%;
    color: white;
}
#btnNuevasTareas{
    background-color: cyan;
    border-radius: 20px;
    color: darkblue;
}
li{
    background-color: lightblue;
    border: 1px solid black;
    padding: 10px;
    position: relative;
    right: 10px;
}
ul{
    list-style: none;
}
#btnNuevasTareas{
    position: relative;
    left: 45%;
}
.nombreUsuario{
    width: 300px;
    border-radius: 30px;
    background-color: lightseagreen;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
strong{
    padding: 10px;
}

/*Media Querys*/

@media screen and (max-width:500px){
  .contenedorTareas{
    display: grid;
    grid-template-columns: 1 fr;
    width: 99%;
    position: absolute;
    left: 0.5%;
    top: 0;
  }
  .contador{
    display: grid;
    position: relative;
    left: 40%;
    top: 10%;
  }
  .tituloRealizadas{
    width: 10%;
    text-align: center;
  }
  .btnEditar{
  position: relative;
  left: 15px;
  }
  .btnEliminar{
  position: relative;
  left: 10px;
  }
  #btnNuevasTareas{
  position: relative;
  left: 38%;
  }
  .nombreUsuario{
    width: 90%;
    position: relative;
    left: 5%;
  }
}