.contenedorTareas{
    width: 90%;
    height: 400px;
    background-color: aquamarine;
    margin: 0 auto;
    padding: 0 auto;
    border-radius: 20px;
    position: absolute;
    top: 10%;
    left: 5%;
}
.contador{
    width: 90px;
    height: 90px;
    background-color: blue;
    border-radius: 50%;
    position: relative;
    left: 85%;
    bottom: 10%;
    text-align: center;
    padding-top: 30px;
}
.tituloToDo{
    text-align: center;
}
.tituloRealizadas{
    position: relative;
    left: 82%;
    bottom: 8%;
}
li{
    background-color: red;
    border: 1px solid black;
}
ul{
    list-style: none;
}
#btnNuevasTareas{
    position: relative;
    left: 45%;
}